/*****----- Global Properties -----*****/
@import "colors.rasi"
@import "font.rasi"

* {
	background-color:				@background;
	text-color:						@foreground;
}

/*****----- Main Window -----*****/
window {
	width:							250px;
	padding:						20px;
	location:						center;
	x-offset:						0;
	y-offset:						-4%;
}

entry {
	expand: 						true;
	width: 							150px;
	text-color:						@selected;
}
