* {
    background:			#0e0020;
    background-alt:		#0e0020;
    foreground:			#ef8bc1;
    selected:			#AF2F90;
    highlight:			#8F358F;
    active:				#8F358F;
    urgent:				#6F398F;
    on:					#614294;
    off:				#6F398F;
}
